* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Carlito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Index */
body {
  background: #faf6e9;
  mix-blend-mode: normal;
}

section {
  background: #494949;
  height: 80px;
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.25);
}

section .container {
  max-width: 1250px;
  margin: 0 auto;
}

/* Header + navbar */
section .container header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

section .container nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

section .container nav a {
  padding: 0 30px;
  margin: 0 12px;
  color: #fffdf6;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  height: 80px;
  transition: 0.2s;
}

section .container nav a:hover {
  padding: 0 30px;
  margin: 0 12px;
  color: #aa8f75;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  height: 80px;
  transition: 0.2s;
  transform: scale(1.1);
}

section .container header .left a,
section .container header .left {
  font-family: "Bowlby One SC";
  color: #fffdf6;
  text-align: center;
  transition: 0.2s;
}
section .container header .left a:hover,
section .container header .left:hover {
  font-family: "Bowlby One SC";
  color: #aa8f75;
  text-align: center;
  transition: 0.2s;
  transform: scale(0.85);
}

/* box 1 */
section .container .box {
  background: #fffdf6;
  mix-blend-mode: normal;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-top: 50px;
}

section .container .box .top {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  padding: 85px 100px;
  line-height: 85px;

  color: #000000;
}

section .container .box .bottom {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  padding: 20px 100px 85px;

  color: #000000;
}

/* container projet */
section .container .project .top h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 85px;
  padding-top: 150px;
  padding-bottom: 10px;
  color: #000000;
}

section .container .project .top p {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;

  color: #000000;
}

section .container .project .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  padding-top: 40px;
}

section .container .project .bottom a {
  width: 600px;
  height: 505px;
  margin-top: 70px;
  background: #fffdf6;
  mix-blend-mode: normal;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  align-items: center;
  transition: transform 0.2s;
}

section .container .project .bottom a:hover {
  width: 600px;
  height: 505px;
  margin-top: 70px;
  background: #fffdf6;
  mix-blend-mode: normal;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  align-items: center;
  transform: scale(1.05);
}

section .container .project .bottom a .project-top {
  display: flex;
  justify-content: space-between;
  padding: 5px 50px;
  font-style: normal;
  font-size: 25px;
  line-height: 31px;
  align-items: center;
  text-align: center;

  color: #494949;
}

section .container .project .bottom a .project-center img {
  max-width: 600px;
  width: 600px;
}

section .container .project .bottom a .project-bottom {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  padding: 0px 50px;

  color: #494949;
}

section .container .project .bottom2 {
  align-items: center;
  text-align: center;
  margin-top: 30px;
}
section .container .project .bottom2 .project .underimg {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 700;
}

section .container .project .bottom2 .project-left {
  height: 500px;
  width: 500px;
  margin-top: 70px;
  mix-blend-mode: normal;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.25);
  align-items: center;
  transition: transform 0.2s;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

section .container .project .bottom2 .project-right {
  position: fixed;
  left: 900px;
  top: 130px;
  text-align: left;
  font-family: "Carlito";
  font-weight: 500;
  font-size: 18px;
  max-width: 670px;
}

section .container .project .bottom2 .project-right .top h1 {
  font-size: 48px;
  padding-top: 10px;
  padding-bottom: 0px;
}

section .container .project .bottom2 .project-right .top .subtittle {
  margin-bottom: 20px;
}

section .container .flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

section .tittlebis {
  top: 100px;
  position: fixed;
  left: 920px;
}

section .container .project .bottom2 .project-left img {
  max-width: 500px;
  width: 500px;
  max-height: 500px;
  height: 500px;
}

section .container .project .button {
  position: absolute;
  margin-top: 160px;
  background-color: #494949;
  padding: 12px 65px;

  background: #494949;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  font-weight: 700;
  font-size: 25px;

  color: #fffdf6;
  transition: all 0.2s;
}

section .container .project .button:hover {
  position: absolute;
  margin-top: 160px;
  background-color: #494949;
  padding: 12px 65px;

  background: #292727;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  font-weight: 700;
  font-size: 25px;

  color: #fffdf6;
  transform: scale(1.02);
}

/* conatiner a propos */
section .container .apropos .titre h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 85px;
  padding-top: 360px;
  padding-bottom: 10px;
  color: #000000;
}

section .container .apropos .whitebloc {
  background: #fffdf6;
  mix-blend-mode: normal;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-top: 50px;
  padding-bottom: 100px;
}

section .container .apropos .whitebloc h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  padding: 70px 120px 0px;
  line-height: 85px;
  color: #000000;
}

section .container .apropos .whitebloc p {
  font-style: normal;
  padding: 40px 120px 0px;
  font-weight: 400;
  font-size: 22px;
  line-height: 31px;

  color: #000000;
}

section .container .apropos .whitebloc .subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 120px 0px;
  max-width: 1150px;
}

section .container .apropos .whitebloc .subtitle h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 31px;

  color: #000000;
}

section .container .apropos .whitebloc .subtitle .left .devweb {
  max-width: 450px;
}

section .container .apropos .whitebloc .subtitle .left .devweb img {
  max-width: 100px;
  margin: 40px 20px 0px 0px;
}

section .container .apropos .whitebloc .subtitle .right .webdesign {
  max-width: 450px;
}

section .container .apropos .whitebloc .subtitle .right .webdesign img {
  max-width: 100px;
  margin: 40px 20px 0px 0px;
}

/* container footer */
section .container footer {
  text-align: center;
  padding-bottom: 80px;
}

section .container footer .ligne {
  height: 0px;
  border: 1px solid #000000;
  margin-top: 100px;
}

section .container footer .logo {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px;
}

section .container footer .logo img {
  max-width: 50px;
  margin: 10px;
}
section .container footer .logo img:first-child {
  border-radius: 100%;
}

section .container footer .logo a {
  transition: all 0.2s;
}

section .container footer .logo a:hover {
  transform: scale(1.3);
}

#scrollUp {
  position: fixed;
  bottom: 20px;
  right: 10px;
  opacity: 0;
  transition: all 0.2s;
}
